body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #475FA6;
}

.container{
margin-top: 2%;

}
.informacion {
    position: relative;
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 20px 20px 20pxrgba(5, 5, 5, 0.1);
    border-radius: 20px;
    background-color: #f8f8f8;
  }

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

textarea[name="mensaje"]{
    margin-bottom: 10%;
    resize: none;


}

input[type="submit"] {
    background-color: #6f58f0;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

}

input[type="submit"]:hover {
    background-color: #475FA6;

}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #6f58f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    padding: 20px 0;
}

  
  .boton-volver {
    position: absolute;
    top: 10px;
    right: 10px; 
    padding: 10px;
    color: #363636;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s, color 0.5s !important;
  }
  
  .boton-volver:hover {
    background-color: #475FA6;
    text-decoration: none;
  }


.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
  
.btn-google:hover {
    color: #fff;
    background-color: #b82215;
    border-color: #e6e6e6;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
  
.btn-facebook:hover {
    color: #fff;
    background-color: #243963;
    border-color: #e6e6e6;
}

*{
    box-sizing: border-box;
}

.servicios{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}